@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application was developed in order to achieve the competency
    for the WebApplication unit, during the Certificate IV in Programming, 
    May/2016, at TAFE Ultimo College.
</p>
<p>
    This Web Application was delevoped using the following technologies:
</p>
<ul>
    <li>ASP.NET MVC 5 and C#</li>
    <li>Bootstrap 3</li>
    <li>SQL 2014</li>
    <li>EntityFramework 6</li>
    <li>XUnit 2</li>
</ul>
