@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TAFE NSW Sydney Institute - Ultimo<br />
    731/695 Harris St, Ultimo NSW 2007<br />
    <abbr title="Phone">P: </abbr>
    0451313298
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cliverson.obrzut@gmail.com">Cliverson Obrzut</a>
</address>