@model OlympicGamesApp.UI.ViewModels.Home.HomeLoginViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron col-sm-7 margintop25">
    <h2 id="index-h2">Olympic Games App</h2>
    <p class="lead">
        Olympic Games App is the place to know everything about the next Olympic
        Games. Buy your tickets, follow the medal table, choose your favorites athletes, sports and modalities
    </p>
    <p>Sign In or Register now!</p>
</div>
<div class="col-sm-5 margintop25">
    @Html.Partial("Login", Model)
</div>  


