@model OlympicGamesApp.UI.ViewModels.Customer.CustomerProfileViewModel

<table class="table">
    <tr>
        <th colspan="2">Countries</th">
    </tr>

@foreach (var item in Model.FavoriteCountries)
{
    <tr>
        <td>
            <img src="/Picture/PictureThumb/@item.PictureId" class="my-table-picture-width" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}
</table>
